#head {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: blueviolet;
    background-color: bisque;
    width: 75%;
    font-family: cursive;
    border: 5px;
    border-style: solid;
}

body {
    background-color: lightblue;
}

.sections {
    width: 25%;
    font-family: sans-serif;
    margin: 20px;
    padding: 10px
    border: 10px;
    border-color: magenta;
    border-style: solid;
}

.image {
    margin-right: auto ;
    margin-left: auto ;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px ;
    border: 10px;
    border-color: blueviolet;
    border-style: dotted;
}

h2 {
    color: blue ;
    font-family: sans-serif;
}

.projects {
     float: right;
     margin: 10px;
     padding: 10px;
     border: 5px;
     border-color: seagreen;
     border-style: dashed;
}