#head {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: blueviolet;
    background-color: bisque;
    width: 75%;
    font-family: cursive;
    border: 5px;
    border-style: solid;
}

body {
    background-color: lightblue;
}

.sections {
    width: 25%;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 10px;
    border-color: magenta;
    border-style: solid;
    box-sizing: border-box;
    background-color: #808080;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 20px;
    text-align: center;
    box-sizing: content-box;
}

.image {
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 5px ;
    border: 5px;
    border-color: blueviolet;
    border-style: dotted;
    box-sizing: border-box;
}

h2 {
    color: blue ;
    font-family: sans-serif;
    text-align: center;
}

h3 {
    font-family: sans-serif;
    font-style: italic;
}

.projects {
     float: right;
     margin: 10px;
     padding: 10px;
     border: 5px;
     border-color: seagreen;
     border-style: dashed;
}