#head {
    text-align: center;
    color: blueviolet;
}

.projects {
     box-sizing: border-box;
     float: right;
     margin: 10px;
     padding: 10px;
     border: 10px;
     border-color: black;
     border-style: dashed;
}